@media screen and (max-width: $break-point) {
  .container > * {
    width: 100%;
  }
  .navBar img {
    width: 50%;
  }
  .header__titles > section {
    font-size: 50%;
    line-height: 6rem;
  }
  .header__images > img {
    width: 25%;
  }
  .estimation {
    flex-direction: column;
  }
}

//圖片往下跑的特效
@keyframes moveUp {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
//圖片往上跑的特效
@keyframes moveDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
